@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

.font-questrial {
  font-family: var(--font-questrial);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-geist {
  font-family: var(--font-geist);
}

.font-lato {
  font-family: var(--font-lato);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-plusJakartaSans {
  font-family: var(--font-plusJakartaSans);
}

.max-w-container {
  max-width: 1440px;
  margin: 0 auto;

  @apply px-4 lg:px-2;
}

.gradient-bg {
  background: linear-gradient(to right, #103570, #004FCE);
}

.hero-bg {
  background-image: url('../assets/top-back.png'), url('../assets/background-noise.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.footer-bg {
  background-image: url('../assets/Rectangle.png'), url('../assets/background-noise.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}